In [1]:
import pandas as pd
import numpy as np
import requests
import json
import datetime
import time

In [2]:
def monto_uf(moneda, monto, tipo_cambio):
    montoUF = 0;
    if (moneda == 'DOLARES'):
        montoUF = monto*tipo_cambio[tipo_cambio.Sigla == 'DOLARES']['Cambio'].values/tipo_cambio[tipo_cambio.Sigla == 'UF']['Cambio'].values
    elif (moneda == 'US$'):
        montoUF = monto*tipo_cambio[tipo_cambio.Sigla == 'DOLARES']['Cambio'].values/tipo_cambio[tipo_cambio.Sigla == 'UF']['Cambio'].values
    elif (moneda == 'UTM'):
        montoUF = monto*tipo_cambio[tipo_cambio.Sigla == 'UTM']['Cambio'].values/tipo_cambio[tipo_cambio.Sigla == 'UF']['Cambio'].values
    else:
        montoUF = monto
    return(float(montoUF));

In [3]:
#np.unique(df['Moneda'])

In [47]:
tipo_cambio = pd.DataFrame(columns = ['Sigla', 'Cambio'])
for m in ['DOLAR','EUR','UF', 'UTM']:
    req = requests.get('https://api-tools-api.avla.com/api-tools/tools/getChangeMoneyByDate',
                       params={'date':'25-03-2019','money':m}).json()[0]
    tipo_cambio = tipo_cambio.append({'Sigla':req['dsTipoMoneda'],'Cambio':req['tasaCambio']}, ignore_index=True)
    time.sleep(.5)
del m, req

In [52]:
df=pd.read_excel('siniestros_v9.xlsx')

In [1]:
labels= {'UF ':'UF', 'uF': 'UF', 'uf': 'UF'}
df['Moneda'].replace(labels, inplace=True)

NameError: name 'df' is not defined

In [54]:
df['capital siniestrado UF'] = [monto_uf(df['Moneda'][x], df['capital siniestrado'][x], tipo_cambio) for x in range(df.shape[0])]

In [57]:
#df.drop('Monto Asegurado', axis=1,inplace=True)
df.drop('capital siniestrado', axis=1,inplace=True)

In [58]:
df

,Poliza,RUT tomador,Monto Indemnizacion UF,capital siniestrado UF
0,3002014000684,761603256,148.850000,148.850000
1,3002014000799,762290537,204.590000,681.950000
2,3002014003018,761855824,217.000000,217.000000
3,3002014004419,760023582,489.000000,489.000000
4,3002014002603,194227949,51.940000,51.940000
5,3002015005067,650571223,23.000000,23.000000
6,3002015005458,189315600,76.910000,76.910000
7,3002014003378,799985802,2146.440000,2146.440000
8,3002014004316,760023582,510.360000,2011.110000
9,3002014004176,760023582,51.036000,201.110000
10,3002015005308,192493692,51.940000,51.940000
11,3002015005032,767229402,148.654136,654.500000
12,3002015005033,767229402,916.300000,916.300000
13,3002014000432,761544489,2723.140000,2723.140000
14,3002015005146,760296953,61.000000,61.000000
15,3002015004593,760296953,6.000000,6.000000
16,3002015006744,761026976,20.260000,20.260000
17,3002015005348,194212755,51.940000,51.940000
18,3002015004792,763170888,357.220000,357.220000
19,3002015005440,180244271,78.050000,78.050000
20,3002014003553,762272733,729.960000,729.960000
21,3002015005452,190809811,78.050000,78.050000
22,3002015007952,760098124,49.000000,49.000000
23,3002015007951,760098124,36.000000,36.000000
24,3002014004418,760023582,49.000000,49.000000
25,3002015008807,761646370,176.600000,176.600000
26,3002015012825,191425472,10.490000,18.400471
27,3002015012803,185620123,10.490000,18.400471
28,3002015012881,191675592,10.490000,18.400471
29,3002015013111,190415309,10.490000,18.400471
...,...,...,...,...
1210,3012018077313,650586751,80.110000,80.110000
1211,3012017068999,761935291,989.480000,989.480000
1212,3002016029813,763826635,735.080000,735.080000
1213,3012018088476,764126866,1081.000000,1081.000000
1214,3002017061696,764150325,43.100000,45.100000
1215,3002017062407,764150325,35.700000,35.700000
1216,3012018072327,764150325,9.400000,9.400000
1217,3012017068413,764150325,90.200000,90.200000
1218,3012018080992,764150325,19.000000,19.000000
1219,3012018079540,764150325,36.000000,36.000000
1220,3012018080920,764150325,23.000000,23.000000
1221,3012019091702,764126866,378.000000,378.000000
1222,3012018083327,764809386,212.000000,212.000000
1223,3012018073395,76032289k,1716.000000,1716.000000
1224,3012017071446,763496422,273.230000,273.230000
1225,3002017061398,762262193,2519.000000,2519.000000
1226,3002017049192,764928792,189.750000,189.750000
1227,3012017063244,769655107,117.220000,117.220000
1228,3012017065514,764124138,6781.970000,6781.970000
1229,3002016037951,763245020,280.000000,280.000000
1230,3002017060295,762283522,105.000000,105.000000
1231,3002017059053,762283522,160.000000,160.000000
1232,3012017069355,776785202,1363.000000,1363.000000
1233,3012017069354,776785202,41.500000,41.500000
1234,3012018073175,969896109,199.000000,199.000000
1235,3012018073174,969896109,397.000000,397.000000
1236,3012018080197,762450496,24.330000,24.330000
1237,3012019091685,768107084,363.000000,363.000000
1238,3012018074335,765723493,1316.000000,1316.000000
1239,3012018086401,763360075,1101.220000,1101.220000

In [60]:
df.to_excel('poliza-rut-monto_std_v2.xlsx', index=False)

In [133]:
df

          Poliza N° RUT tomador  Monto_Ajustado_std
0     3002014000684   761603256          148.850000
1     3002014000799   762290537          204.590000
2     3002014003018   761855824          217.000000
3     3002014004419   760023582          489.000000
4     3002014002603   194227949           51.940000
5     3002015005067   650571223           23.000000
6     3002015005458   189315600           76.910000
7     3002014003378   799985802         2146.440000
8     3002014004316   760023582          510.360000
9     3002014004176   760023582           51.036000
10    3002015005308   192493692           51.940000
11    3002015005032   767229402          148.654136
12    3002015005033   767229402          916.300000
13    3002014000432   761544489         2723.140000
14    3002015005146   760296953           61.000000
15    3002015004593   760296953            6.000000
16    3002015006744   761026976           20.260000
17    3002015005348   194212755           51.940000
18    3002015004792   763170888          357.220000
19    3002015005440   180244271           78.050000
20    3002014003553   762272733          729.960000
21    3002015005452   190809811           78.050000
22    3002015007952   760098124           49.000000
23    3002015007951   760098124           36.000000
24    3002014004418   760023582           49.000000
25    3002015008807   761646370          176.600000
26    3002015012825   191425472           18.400471
27    3002015012803   185620123           18.400471
28    3002015012881   191675592           18.400471
29    3002015013111   190415309           18.400471
...             ...         ...                 ...
1211  3012018077313   650586751           80.110000
1212  3012017068999   761935291          989.480000
1213  3002016029813   763826635          735.080000
1214  3012018088476   764126866         1081.000000
1215  3002017061696   764150325           45.100000
1216  3002017062407   764150325           35.700000
1217  3012018072327   764150325            9.400000
1218  3012017068413   764150325           90.200000
1219  3012018080992   764150325           19.000000
1220  3012018079540   764150325           36.000000
1221  3012018080920   764150325           23.000000
1222  3012019091702   764126866          378.000000
1223  3012018083327   764809386          212.000000
1224  3012018073395   76032289k         1716.000000
1225  3012017071446   763496422          273.230000
1226  3002017061398   762262193         2519.000000
1227  3002017049192   764928792          189.750000
1228  3012017063244   769655107          117.220000
1229  3012017065514   764124138         6781.970000
1230  3002016037951   763245020          280.000000
1231  3002017060295   762283522          105.000000
1232  3002017059053   762283522          160.000000
1233  3012017069355   776785202         1363.000000
1234  3012017069354   776785202           41.500000
1235  3012018073175   969896109          199.000000
1236  3012018073174   969896109          397.000000
1237  3012018080197   762450496           24.330000
1238  3012019091685   768107084          363.000000
1239  3012018074335   765723493         1316.000000
1240  3012018086401   763360075         1101.220000

[1241 rows x 3 columns]

In [64]:
df=pd.read_excel('poliza-rut-monto_std.xlsx')

In [101]:
labels= {'pagos':'Pagos', 'recupero': 'Recupero'}
df['Tipo'].replace(labels)
h=pd.get_dummies(df)

In [108]:
h['Tipo_Pagos']=h['Directa_std']*h['Tipo_Pagos']
h['Tipo_Recupero']=h['Directa_std']*h['Tipo_Recupero']

In [112]:
h.to_excel('poliza-directa-tipo.xlsx', index=False)

In [110]:
h.drop('Directa_std', axis=1,inplace=True)